[popover] {
  padding: 1rem;
  max-height: 90vh;
  max-width: 90vw;
  width: 65ch;
}

[popover] button {
  position: sticky;
  top: 0;
  justify-self: end;
}

:popover-open {
  display: grid;
}

::backdrop {
  background: #0001;
}

[popover] {
  opacity: 0;
  transition: 1s allow-discrete;
}

:popover-open {
  opacity: 1;
}

@starting-style {
  :popover-open {
    opacity: 0;
  }
}

::backdrop {
  opacity: 0;
  transition: 1s allow-discrete;
}

:popover-open::backdrop {
  opacity: 1;
}

@starting-style {
  :popover-open::backdrop {
    opacity: 0;
  }
}

#top-section-wrapper {
  background-color: yellowgreen;
  p {
    color: black;
  }
  img {
    margin: 1rem;
    max-width: 100%;
  }
}

#index_header {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
}

.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.article_card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  row-gap: 2rem;
  margin: 2em;
  padding: 1em;
  background-color: white;
  border-radius: var(--border-radius);
  h2 {
    background-color: black;
    color: #fff;
  }
  img {
    max-width: 100%;
  }
}

.news-art {
  background-color: #fff;
  h3 {
    background-color: black;
    color: white;
    padding: 1rem;
  }
  p {
    padding: 0.5rem;
  }
  a {
    align-self: center;
  }
  img {
    max-width: 100%;
  }
}

.btn {
  display: block;
  width: fit-content;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #c1272d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* ACCORDION */

#accordion-index {
  align-self: center;
}

details {
  outline: 2px solid #000;
  background-color: #fff;
}

summary {
  background: #c1272d;
  cursor: pointer;
  padding: 1rem;
}

.content {
  padding: 1rem;
}

.content p {
  margin: 0;
}

summary::marker {
  content: none;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary::after {
  content: "+";
}

[open] summary::after {
  content: "–";
}

html {
  interpolate-size: allow-keywords;
}

::details-content {
  height: 0;
  transition: 1s allow-discrete;
  overflow: clip;
}

[open]::details-content {
  height: auto;
}

@media (width > 600px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
