html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

/* Toggle switch UI */
#theme-toggle {
  --h: 2rem;
  --w: 3rem;

  font: inherit;
  appearance: none;
  background: gainsboro;
  height: var(--h);
  width: var(--w);
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 9999px;
  position: relative;
}

#theme-toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  aspect-ratio: 1;
  background: gray;
  border-radius: 50%;
  transition: 0.3s;
}

#theme-toggle:checked::before {
  transform: translateX(calc(var(--w) - var(--h)));
}
